body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input__search-user {
  margin: 10px;
  width: 500px;
  height: 40px
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.user__card {
  width: 200px;
  margin: 10px;
}
